[[languages]]
name = "ruby"
scope = "source.ruby"
injection-regex = "ruby"
file-types = [
  "rb",
  "rake",
  "rakefile",
  "irb",
  "gemfile",
  "gemspec",
  "Rakefile",
  "Gemfile",
  "rabl",
  "jbuilder",
  "feature",
  "jb",
  "Podfile",
  "podspec",
  "Vagrantfile",
  "Brewfile",
  "rjs",
  "rbi",
  "Guardfile",
  "Capfile",
  "Cheffile",
  "Hobofile",
  "Appraisals",
  "Rantfile",
  "Berksfile",
  "Berksfile.lock",
  "Thorfile",
  "Puppetfile",
  "Fastfile",
  "Appfile",
  "Deliverfile",
  "Matchfile",
  "Scanfile",
  "Snapfile",
  "Gymfile"
]
shebangs = ["ruby"]
comment-token = "#"
indent = { tab-width = 2, unit = " " }

[[grammar]]
name = "ruby"
source = { git = "https://github.com/tree-sitter/tree-sitter-ruby" }
